@import "./_variables.scss";
@import "./_mixins.scss";
@import 'animate.scss';

h1 {
  display: block;
  margin: 20px;
  color: $red;
  @include bounce();
  @include responsive("iphone") {
    color: yellow;
  }
  @include responsive("iphone-l") {
    font-size: 60px;
  }
  @include responsive("tablet") {
    color: green;
  }
}

// a{
//     margin-bottom: 10px;

//     &:nth-child(odd){
//         @include links('odd');
//     }

//     &:nth-child(even){
//         @include links('even');
//     }
// }

// a{
//     @include responsive{
//         //@content 가 밑에 적는 properties 가 될것
//         text-decoration: none;
//     }
// }
